<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
    <listeners>
        <listener class-name="ringcentral.reportcommon.TestListener" />
    </listeners>
    <test name="Post User Test">
        <classes>
            <class name="ringcentral.testsuits.PostUserSanityTCSuits" />
            <class name="ringcentral.testsuits.SaveUserSanityTC" />
            <class name="ringcentral.testsuits.FindUserByIDSanityTC" />
        </classes>
    </test>
</suite>